body {
    width: 100vw;
    padding: 10px;
  }

a {
    text-decoration: none;
}

hr {
    color: #668fce;
    border: solid 2px;
}

ul {
    list-style-type: square;
}

.box {
    width: 260px;
}
.down {
    background-color: #8faedd;
    border: none;
    font-size: 0.81rem;
    text-align: center;
    color: white;
    padding: 10px;
}

.down:hover {
    background-color: white;
    border: 2px solid #8faedd;
    text-align: center;
    color: black;
  }

.line {
    border-bottom: 2px solid #8faedd;
    padding-bottom: 5px;
}