hr {
    color: rgb(192, 150, 192);
    border: solid 2px;
}

.inform {
    background-color: #d8bae9;
    border: none;
    font-size: 0.81rem;
    text-align: center;
    color: white;
    padding: 10px;
}

.line {
    border-bottom: 2px solid #d8bae9;
    padding-bottom: 5px;
}